/* #cc3300  (204,51,0)     red */
/* #ff9966  (255,153,102)  light red */
/* #ffcc00  (255,204,0)    yellow */
/* #99cc33  (153,204,51)   light green */
/* #339900  (51,153,0)     green */

* {
  border: 0;
  outline: 0;
  border-radius: 0;
  font-family: "IosevkaNerdFont";
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 100ms;
}

window {
  color: grey;
  background: black;
}

window#waybar.solo {
  color: rgba(217, 216, 216, 1);
  background: rgba(35, 31, 32, 0.85);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

/* #workspaces button.focused { */
/*   border-top: 3px solid rgba(217, 216, 216, 1); */
/* } */

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#battery {
  margin-left: 5px;
}
#battery.charging {
  color: #99cc33;
}

#memory,
#cpu {
  margin-right: 10px;
  margin-left: 0;
}

#pulseaudio {
  margin-right: 0;
}

#clock {
  min-width: 120px;
  margin: 0 10px 0 20px;
  font-weight: bold;
}

#network {
  padding: 0 0 0 5px;
  color: #99cc33;
}
#network.disconnected {
  color: #fc3c2a;
}

#pulseaudio.normal {
  color: inherit;
}

#cpu.warning,
#battery.warning,
#memory.warning,
#pulseaudio.warning {
  color: #ffcc00;
}

#cpu.critical,
#battery.critical,
#memory.critical,
#pulseaudio,
#pulseaudio.muted {
  color: #ff9966;
}
